.button {
    border-radius: 8px;
	padding: 8px 16px;
    background-color:#004759;
    color: #ffffff
}

.button:hover {
    background-color: #C8EFE2;
    color: #004759;
    cursor: pointer;
}

.link {
    color: #03A1C7;
}

.link:hover {
    color: #169794;
    cursor: pointer;
}


.tabbar-tab {
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    color: #6c6c70;
    border-bottom-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}

.tabbar-tab:hover {
    color: #242426;
    cursor: pointer;
}

.tabbar-tab--state-active {
    color: #242426;
    border-color: #004759;
}

.tabbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom-style: solid;
    border-color: #EBEBF0;
    border-width: 1px;
    justify-items: center;
    align-items: center;
}

.tag {
    padding: 0px 12px;
    background-color: #004759;
    color: #ffffff;
    border-radius: 16px;
    align-self: center;
}