.button {
    border-radius: 8px;
	padding: 8px 16px;
    background-color:#004759;
    color: #ffffff;
    /* animation-name: on-hover;
    animation-duration: 500ms;
    animation-direction: reverse; */
}

.button:hover {
    background-color: #C8EFE2;
    animation-name: on-hover-button;
    animation-duration: 100ms;
    color: #004759;
    cursor: pointer;
}

@keyframes on-hover-button {
    0%   {background-color: #004759;}
    100%  {background-color: #C8EFE2;}
}

.link {
    color: #03A1C7;
}

.link:hover {
    color: #169794;
    cursor: pointer;
}


.tabbar-tab {
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    color: #6c6c70;
    border-bottom-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}

.tabbar-tab:hover {
    color: #242426;
    cursor: pointer;
    transition: all 500ms;
}

.tabbar-tab--state-active {
    color: #242426;
    border-color: #004759;
}

.tabbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom-style: solid;
    border-color: #EBEBF0;
    border-width: 1px;
    justify-items: center;
    align-items: center;
}

.tag {
    padding: 0px 12px;
    background-color: #004759;
    color: #ffffff;
    border-radius: 16px;
    align-self: center;
}

.dropdown {
    padding:12px 16px;
}

.dropdown-menu {
    flex:none;
    margin-top: 4px;
    padding:4px 0px;
    border-style: solid;
    border-width: 1px;
    border-color:#EBEBF0;
    border-radius: 8px;
    position:absolute;
    background-color: #ffffff;
}

.dropdown-menu-item {
    text-align: left;
    padding:8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.dropdown-menu-item:hover {
    background-color: #F9F9FF;
    cursor: pointer;
    transition: all 300ms;
}

.checkmark {
    height: 16px;
    width: 16px;
    border-style: solid;
    border-width: 1px;
    border-color:#D8D8DC;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}

.checkmark:hover {
    background-color: #F9F9FF;
    border-color: #BCBCC0;
    cursor: pointer;
    transition: all 300ms;

}

.checkmark-active {
    display: flex;
    color:#ffffff;
    height: 16px;
    width: 16px;
    background-color: #03A1C7;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}


.checkmark-active:hover {
    background-color: #017A98;
    cursor: pointer;
    transition: all 300ms;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }