@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

/* Body Structures */
body {
  font: 12px 'Libre Franklin';
  font-family: 'Libre Franklin', 'cursive';
  text-align: center;
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #F9F9FF
}

.header {
  text-align: left;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

.body {
  text-align: left;
  height: 76%;

}

/* List */
ol {
  margin: 0px 32px;
  padding-inline-start: 16px;
}

ol li {
  margin: 4px;
}

/* Dividers */
hr.solid {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EBEBF0;
  margin: 0px;
  padding: 0;
}

hr.setting {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EBEBF0;
  margin: 0px;
  padding: 0;
}

/* Borders */
.border-round {
  border-style: solid;
  border-width: 1px;
  border-color:#EBEBF0;
  border-radius: 8px;
}

.border-round--focus {
  border-style: solid;
  border-width: 1px;
  border-color:#03A1C7;
  background-color: #F9F9FF;
  border-radius: 8px;
  transition: all 500ms;

}

.border-round:hover {
  border-color: #BCBCC0;
  background-color: #F9F9FF;
  transition: all 200ms;
  cursor: pointer;

}

/* Flexbox */
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.flexbox-stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 8px;
}

.flexbox--right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items:start;
  gap: 8px;
}

/* Spacings */
.spacing-horizontal-16 {
  margin:0px 16px;
}

.spacing-16 {
  padding:16px;
}

/* Text */
.text-sm-reg {
  font: 12px 'Libre Franklin';
  font-weight: 400;
}

.text-sm-med {
  font: 12px 'Libre Franklin';
  font-weight: 500;
}

.text-md-reg {
  font: 14px 'Libre Franklin';
  font-weight: 400;
}

.text-md-med {
  font: 14px 'Libre Franklin';
  font-weight: 500;
}

.text-md-semibold {
  font: 14px 'Libre Franklin';
  font-weight: 500;
}

.text-lg-semibold {
  font: 16px 'Libre Franklin';
  font-weight: 600;
}

.text-xl-semibold {
  font: 18px 'Libre Franklin';
  font-weight: 600;
}
